
    body {
      font-family: 'Inter', sans-serif;
      background: url('compare-fibre-Y8TiLvKnLeg-unsplash.jpg') no-repeat center center fixed;
      background-size: cover;
      background: rgba(0, 0, 0, 0.4);

    }

    body::before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(6px);
      z-index: -1;
    }

    .login-container {
      animation: fadeInUp 1s ease-out;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
      border: 1px solid #e5e7eb;
      background-color: #ffffff;
    }

    .logo-illustration:hover {
      transform: scale(1.05) rotate(1deg);
      transition: transform 0.4s ease;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeInLeft {
      from {
        opacity: 0;
        transform: translateX(-40px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .animate-fadeInLeft {
      animation: fadeInLeft 1.2s ease-out;
    }

    .fade-slide-out {
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.4s ease-in;
    }

    .fade-slide-in {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.5s ease-out;
    }